<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buct.team.manage.dao.ClassMapper">
    <resultMap id="BaseResultMap" type="com.buct.team.manage.entity.Class">
        <id column="id" jdbcType="BIGINT" javaType="Long" property="id" />
        <result column="name" jdbcType="VARCHAR" javaType="String" property="name" />
        <result column="store_path" jdbcType="VARCHAR" javaType="String" property="storePath" />
        <result column="user_id" jdbcType="VARCHAR" javaType="String" property="userId" />
    </resultMap>
    <sql id="Base_Column_List">
        id, `name`, store_path, user_id
    </sql>

    <select id="getClasses" parameterType="String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_class
        where user_id = #{userId}
    </select>

    <delete id="deleteClass" parameterType="java.util.List">
        delete from t_class where id in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <insert id="addClass" parameterType="com.buct.team.manage.entity.Class">
        insert into t_class
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                `name`,
            </if>
            <if test="storePath != null">
                store_path,
            </if>
            <if test="userId != null">
                user_id,
            </if>
        </trim>
        <trim prefix=" values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name},
            </if>
            <if test="storePath != null">
                #{storePath},
            </if>
            <if test="userId != null">
                #{userId},
            </if>
        </trim>
    </insert>

    <update id="updateClass" parameterType="com.buct.team.manage.entity.Class">
        update t_class
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="storePath != null">
                store_path = #{storePath},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>