<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buct.team.manage.dao.DocumentMapper">
    <resultMap id="BaseResultMap" type="com.buct.team.manage.entity.Document">
        <id column="id" jdbcType="BIGINT" javaType="Long" property="id" />
        <result column="title" jdbcType="VARCHAR" javaType="String" property="title" />
        <result column="author" jdbcType="VARCHAR" javaType="String" property="author" />
        <result column="publish_time" jdbcType="DATE" javaType="Date" property="publishTime" />
        <result column="introduction" jdbcType="VARCHAR" javaType="String" property="introduction" />
        <result column="publish_place" jdbcType="VARCHAR" javaType="String" property="publishPlace" />
        <result column="size" jdbcType="DOUBLE" javaType="Double" property="size" />
        <result column="upload_user_id" jdbcType="VARCHAR" javaType="String" property="uploadUserId" />
        <result column="origin_address" jdbcType="VARCHAR" javaType="String" property="originAddress" />
        <result column="like_count" jdbcType="BIGINT" javaType="Long" property="likeCount" />
        <result column="view_count" jdbcType="BIGINT" javaType="Long" property="viewCount" />
        <result column="average_score" jdbcType="DOUBLE" javaType="Double" property="averageScore" />
        <result column="download_count" jdbcType="BIGINT" javaType="Long" property="downloadCount" />
        <result column="store_path" jdbcType="VARCHAR" javaType="String" property="storePath" />
        <result column="file_name" jdbcType="VARCHAR" javaType="String" property="fileName" />
        <result column="create_time" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp" property="updateTime" />
    </resultMap>

    <sql id="Base_Column_List">
        id, title, author, publish_time, introduction, publish_place, `size`, upload_user_id, origin_address, like_count, view_count, download_count, average_score, store_path, file_name, create_time, update_time
    </sql>

    <select id="getLikeCount" parameterType="Long" resultType="Long">
        select like_count
        from t_document
        where id = #{id}
    </select>

    <update id="updateAverageScore">
        update t_document
        set average_score = #{score}
        where id = #{id}
    </update>

    <select id="getAllDocument" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_document
    </select>
    
    <select id="findMd5IsExit" resultType="String">
        select store_path
        from t_document
        where file_md = #{fileMd}
    </select>

    <select id="selectByTitle" parameterType="String" resultMap="BaseResultMap">
        <if test="title != null">
            <bind name="pattern" value="'%' + title + '%'"/>
        </if>
        select
        <include refid="Base_Column_List" />
        from t_document
        where title like #{pattern}
    </select>

    <select id="selectByAuthor" parameterType="String" resultMap="BaseResultMap">
        <if test="author != null">
            <bind name="pattern" value="'%' + author + '%'"/>
        </if>
        select
        <include refid="Base_Column_List" />
        from t_document
        where author like #{pattern}
    </select>

    <select id="selectByPublishPlace" parameterType="String" resultMap="BaseResultMap">
        <if test="publishPlace != null">
            <bind name="pattern" value="'%' + publishPlace + '%'"/>
        </if>
        select
        <include refid="Base_Column_List" />
        from t_document
        where publish_place like #{pattern}
    </select>

    <select id="selectById" parameterType="Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_document
        where id = #{id}
    </select>

    <delete id="deleteDocument" parameterType="java.util.List">
        delete from t_document where id in 
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <insert id="insertDocument" parameterType="com.buct.team.manage.entity.Document">
        insert into t_document
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">
                title,
            </if>
            <if test="author != null">
                author,
            </if>
            <if test="publishTime != null">
                publish_time,
            </if>
            <if test="introduction != null">
                introduction,
            </if>
            <if test="publishPlace != null">
                publish_place,
            </if>
            <if test="size != null">
                `size`,
            </if>
            <if test="uploadUserId != null">
                upload_user_id,
            </if>
            <if test="originAddress != null">
                origin_address,
            </if>
            <if test="storePath != null">
                store_path,
            </if>
            <if test="fileName != null">
                file_name,
            </if>
        </trim>
        <trim prefix=" values (" suffix=")" suffixOverrides=",">
            <if test="title != null">
                #{title},
            </if>
            <if test="author != null">
                #{author},
            </if>
            <if test="publishTime != null">
                #{publishTime},
            </if>
            <if test="introduction != null">
                #{introduction},
            </if>
            <if test="publishPlace != null">
                #{publishPlace},
            </if>
            <if test="size != null">
                #{size},
            </if>
            <if test="uploadUserId != null">
                #{uploadUserId},
            </if>
            <if test="originAddress != null">
                #{originAddress},
            </if>
            <if test="storePath != null">
                #{storePath},
            </if>
            <if test="fileName != null">
                #{fileName},
            </if>
        </trim>
    </insert>

    <update id="updatetDocument" parameterType="com.buct.team.manage.entity.Document">
        update t_document
        <set>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="author != null">
                author = #{author},
            </if>
            <if test="publishTime != null">
                publish_time = #{publishTime},
            </if>
            <if test="introduction != null">
                introduction = #{introduction},
            </if>
            <if test="publishPlace != null">
                publish_place = #{publishPlace},
            </if>
            <if test="size != null">
                `size` = #{size},
            </if>
            <if test="uploadUserId != null">
                upload_user_id = #{uploadUserId},
            </if>
            <if test="originAddress != null">
                origin_address = #{originAddress},
            </if>
            <if test="storePath != null">
                store_path = #{storePath},
            </if>
            <if test="fileName != null">
                file_name = #{fileName},
            </if>
            <if test="likeCount != null">
                like_count = #{likeCount},
            </if>
            <if test="averageScore != null">
                average_score = #{averageScore},
            </if>
            <if test="viewCount != null">
                view_count = #{viewCount},
            </if>
            <if test="downloadCount != null">
                download_count = #{downloadCount},
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>