<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buct.team.manage.dao.DocumentLabelMapper">
    <select id="getLabelId" parameterType="Long" resultType="java.lang.Long">
        select label_id
        from t_document_label
        where document_id = #{id}
    </select>

    <select id="getDocumentId" parameterType="Long" resultType="Long">
        select document_id
        from t_document_label
        where label_id = #{id}
    </select>
</mapper>