<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buct.team.manage.dao.RoleMapper">
    <resultMap id="BaseResultMap" type="com.buct.team.manage.entity.Role">
        <id column="id" jdbcType="BIGINT" javaType="Long" property="id" />
        <result column="name" jdbcType="VARCHAR" javaType="String" property="name" />
        <result column="key" jdbcType="VARCHAR" javaType="String" property="key" />
        <result column="create_time" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp" property="updateTime" />
    </resultMap>
    <sql id="Base_Column_List">
        `name`, `key`, create_time, update_time
    </sql>
    <select id="getRoleByUserId" parameterType="String" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM t_role
        INNER JOIN t_user_role ON t_role.id = t_user_role.role_id
        WHERE t_user_role.user_id = #{userId}
    </select>
</mapper>