<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buct.team.manage.dao.TaskMemberMapper">
    <select id="getUserIdByTaskId" parameterType="Long" resultType="String">
        select user_id
        from t_task_member
        where task_id = #{taskId}
    </select>

    <delete id="deleteMember">
        delete from t_task_member
        where user_id = #{userId} and task_id = #{taskId}
    </delete>

    <insert id="addMember" parameterType="com.buct.team.manage.entity.TaskMember">
        insert into t_task_member
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="taskId != null">
                task_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
        </trim>
        <trim prefix=" values (" suffix=")" suffixOverrides=",">
            <if test="taskId != null">
                #{taskId},
            </if>
            <if test="userId != null">
                #{userId},
            </if>
        </trim>
    </insert>
</mapper>