<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buct.team.manage.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.buct.team.manage.entity.User">
        <id column="id" jdbcType="BIGINT" javaType="Long" property="id" />
        <result column="user_id" jdbcType="VARCHAR" javaType="String" property="userId" />
        <result column="password" jdbcType="VARCHAR" javaType="String" property="password" />
        <result column="username" jdbcType="VARCHAR" javaType="String" property="username" />
        <result column="identity" jdbcType="TINYINT" javaType="Integer" property="identity" />
        <result column="deleted" jdbcType="TINYINT" javaType="Boolean" property="deleted" />
        <result column="sex" jdbcType="TINYINT" javaType="Integer" property="sex" />
        <result column="email" jdbcType="VARCHAR" javaType="String" property="email" />
        <result column="mobile" jdbcType="VARCHAR" javaType="String" property="mobile" />
        <result column="qq_open_id" jdbcType="VARCHAR" javaType="String" property="qqOpenId" />
        <result column="wx_open_id" jdbcType="VARCHAR" javaType="String" property="wxOpenId" />
        <result column="birth" jdbcType="DATE" javaType="Date" property="birth" />
        <result column="login_time" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp" property="loginTime" />
        <result column="last_login_time" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp" property="lastLoginTime" />
        <result column="login_count" jdbcType="BIGINT" javaType="Long" property="loginCount" />
        <result column="create_uid" jdbcType="VARCHAR" javaType="String" property="createUid" />
        <result column="create_time" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp" property="updateTime" />
    </resultMap>
    
    <resultMap id="LoginInfoMap" type="com.buct.team.manage.dao.vo.UserLoginInfoVo">
        <result column="user_id" jdbcType="VARCHAR" javaType="String" property="userId" />
        <result column="username" jdbcType="VARCHAR" javaType="String" property="username" />
        <result column="login_time" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp" property="loginTime" />
        <result column="login_count" jdbcType="BIGINT" javaType="Long" property="loginCount" />
        <result column="create_uid" jdbcType="VARCHAR" javaType="String" property="createUid" />
    </resultMap>

    <sql id="Base_Column_List">
        id, user_id, password, username, identity, deleted, sex, email, mobile, qq_open_id, wx_open_id, birth, login_time, last_login_time, login_count, create_uid, create_time, update_time
    </sql>

    <select id="verifyPassword" resultMap="LoginInfoMap">
        select user_id, username, login_time, login_count, create_uid
        from t_user
        where user_id = #{userId} and password = #{password}
    </select>
    
    <select id="getAllUser" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_user
        where deleted = 0
    </select>

    <select id="getUserById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List" />
        from t_user
        where id = #{id}
    </select>

    <select id="getUserByUserId" resultMap="BaseResultMap">
        <if test="userId != null">
            <bind name="pattern" value="'%' + userId + '%'" />
        </if>

        select
        <include refid="Base_Column_List" />
        from t_user
        where user_id like #{pattern}
    </select>

    <select id="getUserByUserName" resultMap="BaseResultMap">
        <if test="username != null">
            <bind name="pattern" value="'%' + username + '%'" />
        </if>
        select
        <include refid="Base_Column_List" />
        from t_user
        where username like #{pattern}
    </select>

    <select id="getUserByIdentity" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_user
        where identity = #{identity}
    </select>

    <insert id="insertUser" parameterType="com.buct.team.manage.entity.User">
        insert into t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="identity != null">
                `identity`,
            </if>
            <if test="deleted != null">
                deleted,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="mobile != null">
                mobile,
            </if>
            <if test="qqOpenId != null">
                qq_open_id,
            </if>
            <if test="wxOpenId != null">
                wx_open_id,
            </if>
            <if test="birth != null">
                birth,
            </if>
            <if test="createUid != null">
                create_uid,
            </if>
        </trim>
        <trim prefix=" values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId},
            </if>
            <if test="password != null">
                #{password},
            </if>
            <if test="username != null">
                #{username},
            </if>
            <if test="identity != null">
                #{identity},
            </if>
            <if test="deleted != null">
                #{deleted},
            </if>
            <if test="sex != null">
                #{sex},
            </if>
            <if test="email != null">
                #{email},
            </if>
            <if test="mobile != null">
                #{mobile},
            </if>
            <if test="qqOpenId != null">
                #{qqOpenId},
            </if>
            <if test="wxOpenId != null">
                #{wxOpenId},
            </if>
            <if test="birth != null">
                #{birth},
            </if>
            <if test="createUid != null">
                #{createUid},
            </if>
        </trim>
    </insert>

    <update id="updatetUser" parameterType="com.buct.team.manage.entity.User">
        update t_user
        <set>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="identity != null">
                `identity` = #{identity},
            </if>
            <if test="deleted != null">
                deleted = #{deleted},
            </if>
            <if test="sex != null">
                sex = #{sex},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="mobile != null">
                mobile = #{mobile},
            </if>
            <if test="qqOpenId != null">
                qq_open_id = #{qqOpenId},
            </if>
            <if test="wxOpenId != null">
                wx_open_id = #{wxOpenId},
            </if>
            <if test="birth != null">
                birth = #{birth},
            </if>
            <if test="createUid != null">
                create_uid = #{createUid},
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="deleteUser" parameterType="java.util.List">
        update t_user
        set deleted = 1
        where id in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>
</mapper>